/*** INZIO FOOTER ***/
footer {
    color: #fff;
    background-color: $colore_sfondi;
    @include padding(60px, 0);

    .footer-head {
        @include my_flex(flex-start, center);
        max-width:$width_generale;
        height: 200px;
        @include centratura;

        .info {
            float: left;
            width: 50%;
            img {
                width: 200px;
                margin-right: 10px;
            }
        }
        .help {
            float: right;
            width: 50%;
            .menu {
                list-style-type: none;
                width: 100%;
                font-size: $font_middle_size;
                padding: 00px;
                text-align: right;
                cursor: pointer;
                @include animation_hover;
                li:hover {
                    text-decoration: underline;
                }
                li a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    span {
        display: block;
        max-width: $width_generale;
        height: 5px;
        @include bordo_separatore;
        @include centratura;
    }
}
/*** FINE FOOTER ***/