/*** INZIO FOOTER ***/
footer {
    color: #fff;
    background-color: $colore_sfondi;
    @include padding(60px, 0);

    .footer-head {
        @include my_flex(flex-start, center);
        max-width:$width_generale;
        @include centratura;

        .info {
            float: left;
            width: 50%;
            img {
                width: 200px;
                margin-right: 10px;
            }
        }
        .help {
            float: right;
            width: 50%;
            .menu {
                list-style-type: none;
                width: 100%;
                font-size: $font_middle_size;
                padding: 00px;
                text-align: right;
                cursor: pointer;
                @include animation_hover;

                li {
                    padding: 5px 0;
                }

                li:hover {
                    text-decoration: underline;
                }
                li a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    span {
        display: block;
        max-width: $width_generale;
        height: 5px;
        @include bordo_separatore;
        @include centratura;
    }

    .footer-bottom {
        max-width: $width_generale;
        @include centratura;
        @include padding(30px, 0);

        .icons {
            @include my_flex(center, flex-start);
            padding-bottom: 30px;
            i {      
                font-size: 40px;
                @include padding(0px, 30px);
            }
        }

        small {
            @include centratura;
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}
/*** FINE FOOTER ***/