body {
    font-family: $font_family;
    color: $font_color;
}

.page-wrapper {
    position: relative;
}

.active {
    border-bottom: 2px solid $colore_sfondo_bottoni;
    padding-top: 5px;
}

/*** INIZIO HEADER ***/
.head {
    width: 100%;
    @include centratura;
    height: 75px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    font-size: $font_small_size;
    background-color: #fff;
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 0;

    .logo {
        width: 200px;
        img {
            width: 100%;
        }
    }

    .menu {
        @include my-flex(flex-end, center);
        list-style-type: none;
        width: 90%;
        padding-right: 25px;

        li {
            display: inline-block;
            padding: 0 25px 10px;
            cursor: pointer;
            @include animation_hover;

            button {
                text-transform: uppercase;
                @include bottone_verde;
                @include animation_hover;
            }

            a {
                text-decoration: none;
                padding-bottom: 10px;
            }
        }

        li:hover {
            color: $font_color_hover;
        }

        li > button:hover {
            color: #fff;
            background-color: $colore_sfondo_bottoni_hover;
        }
    }
}
/*** FINE HEADER ***/

.jumbo {
    margin-top: 95.5px;
}