.jumbo {
    margin-top: 95.5px;
    .contents {
        max-width: $width_generale;
        @include centratura;
        @include my_flex(center, center);
        @include padding(100px, 0);
        .title {
            width: 50%;
            float: left;
            .h1 {
                text-transform: uppercase;
                font-size: $font_size_jumbo;
                padding-bottom: 40px;
                p {
                    margin: 0;
                }
            }
            .sottotitolo {
                font-size: $font_middle_size;
            }
            .testo {
                ul {
                    padding-left: 15px;
                }
            }
        }
        .gif {
            width: 50%;
            float: left;
            img {
                width: 100%;
            }
        }
    }
}

.bg-blue {
    width: 100%;
    background-color: $colore_sfondi;
    @include padding(60px, 0);
}

.numbers {
    max-width: $width_generale;
    @include centratura;
    color: #fff;
    @include my_flex (flex-start, center);
    .percentuale {
        @include numeri;
    }
    .euro {
        @include numeri;
    }
    .first {
        @include numeri;
    }

}

.bg-white {
    background-color: #fff;
    @include padding(50px, 0);
}

.wrap-policy {
    max-width: $width_generale;
    @include centratura;
    margin-top: 95.5px;
    padding: 30px;
    h1 {
        font-weight: 400;
    }
    section {
        margin: 55px 0;
    }
}